streamlit
pandas
openpyxl
matplotlib
numpy
scikit-learn
sentence-transformers
faiss-cpu
rank-bm25
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
transformers
huggingface-hub
python-dotenv
requests
google-generativeai
grandalf